/////////////////////////////////////////////////////////////
// body
/////////////////////////////////////////////////////////////
html
    scroll-behavior: smooth
    overflow-x: hidden
.site-body
	margin: 0
	padding: 0


/////////////////////////////////////////////////////////////
// typograf
/////////////////////////////////////////////////////////////
h2
	font-family: Bazar
	font-weight: lighter
	font-size: 28px
	+media-breakpoint-down(xs)
		font-size: 24px
h3
	font-family: Bazar
	font-weight: lighter
	font-size: 24px
	+media-breakpoint-down(xs)
		font-size: 16px
	


.hr--bottom
  margin: 0
  border-top: 1px dashed rgba(0,0,0,0.25)
  border-bottom: 1px dashed rgba(255,255,255,0.25)
  position: absolute
  bottom: 10px
  background-color: transparent
  z-index: 10
  width: 100%
  height: 0
  z-index: 1
.hr--top
  margin: 0
  border-top: 1px dashed rgba(0,0,0,0.25)
  border-bottom: 1px dashed rgba(255,255,255,0.25)
  position: absolute
  top: 10px
  background-color: transparent
  z-index: 10
  width: 100%
  height: 0

/////////////////////////////////////////////////////////////
// animation
/////////////////////////////////////////////////////////////

@keyframes showSlider
	from
		opacity: 0
	to
		opacity: 1